body{
    background-color: #ffffff;
    margin: 0px;
}
main{
    margin: 20px;
    padding: 10px;
    border: 2px solid rgb(189, 148, 78);
    border-radius: 6px;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(158, 219, 162);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(127, 185, 132);
}
.navbar li{
    float: left;
}
footer{
    list-style-type: none;
    background-color: rgb(158, 219, 162);
    padding: 15px;
    margin: 0px;
    overflow: hidden;
}
body.darkMode{
    background-color: rgb(13, 10, 53);
    color: #ffffff;
}
body.darkMode .navbar ul{
    background-color:rgb(21, 16, 85);
    color: #ffffff;
}
body.darkMode .navbar a{
    color: #ffffff;
}
body.darkMode footer{
    background-color:rgb(21, 16, 85);
    color: #ffffff;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: mintcream;
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-switch svg{
    fill: black;
}
#theme-switch svg:last-child{
    display: none;
}
.darkMode #theme-switch svg:first-child{
    display: none;
}
.darkMode #theme-switch svg:last-child{
    display: block;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
